{{template "base" .}}

{{define "title"}}<title>About</title>{{end}}

{{define "content"}} 
    <!--BODY-->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">ABOUT PAGE</h1>
            </div>
        </div>
    </div>
{{end}}